<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST</title>
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
  </head>
  <body>
    <div class="container" style="display: flex; justify-content: center">
      <svg width="1000" height="1000" xmlns="http://www.w3.org/2000/svg" style="border: 1px solid">
        <g fill="none" stroke="gray" stroke-width="1">
          <path
            d="M 300 200 L 500 100 L 700 200 M 200 300 L 300 200 L 400 300 M 600 300 L 700 200 L 800 300 M 150 400 L 200 300 L 250 400 M 350 400 L 400 300 L 450 400 M 550 400 L 600 300 L 650 400 M 750 400 L 800 300 L 850 400"
          ></path>
        </g>
        <g fill="aqua" stroke="black" stroke-width="1">
          <!-- root -->
          <circle cx="500" cy="100" r="15"></circle>

          <!-- lv1 -->
          <circle cx="300" cy="200" r="15"></circle>
          <circle cx="700" cy="200" r="15"></circle>
          <!-- lv1 -->
          <!-- lv2 -->
          <circle cx="200" cy="300" r="15"></circle>
          <circle cx="400" cy="300" r="15"></circle>
          <circle cx="600" cy="300" r="15"></circle>
          <circle cx="800" cy="300" r="15"></circle>
          <!-- lv2 -->
          <!-- lv3 -->
          <circle cx="150" cy="400" r="15"></circle>
          <circle cx="350" cy="400" r="15"></circle>
          <circle cx="250" cy="400" r="15"></circle>
          <circle cx="450" cy="400" r="15"></circle>
          <circle cx="550" cy="400" r="15"></circle>
          <circle cx="650" cy="400" r="15"></circle>
          <circle cx="750" cy="400" r="15"></circle>
          <circle cx="850" cy="400" r="15"></circle>
          <!-- lv3 -->
        </g>
      </svg>
    </div>
    <div class="container" style="display: flex; justify-content: center">
      <svg width="1000" height="1000" xmlns="http://www.w3.org/2000/svg" style="border: 1px solid">
        <g fill="none" stroke="gray" stroke-width="1">
          <path
            d="M 300 200 L 500 100 L 700 200 M 200 300 L 300 200 L 400 300 M 600 300 L 700 200 L 800 300 M 150 400 L 200 300 L 250 400 M 350 400 L 400 300 L 450 400 M 550 400 L 600 300 L 650 400 M 750 400 L 800 300 L 850 400"
          ></path>
        </g>
        <g fill="aqua" stroke="black" stroke-width="1">
          <!-- root -->
          <circle cx="500" cy="100" r="15"></circle>

          <!-- lv1 -->
          <circle cx="300" cy="200" r="15"></circle>
          <circle cx="700" cy="200" r="15"></circle>
          <!-- lv1 -->
          <!-- lv2 -->
          <circle cx="200" cy="300" r="15"></circle>
          <circle cx="400" cy="300" r="15"></circle>
          <circle cx="600" cy="300" r="15"></circle>
          <circle cx="800" cy="300" r="15"></circle>
          <!-- lv2 -->
          <!-- lv3 -->
          <circle cx="150" cy="400" r="15"></circle>
          <circle cx="350" cy="400" r="15"></circle>
          <circle cx="250" cy="400" r="15"></circle>
          <circle cx="450" cy="400" r="15"></circle>
          <circle cx="550" cy="400" r="15"></circle>
          <circle cx="650" cy="400" r="15"></circle>
          <circle cx="750" cy="400" r="15"></circle>
          <circle cx="850" cy="400" r="15"></circle>
          <!-- lv3 -->
        </g>
      </svg>
    </div>
  </body>
</html>
